.attractions__first {
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 31px;
  padding-bottom: 42px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
}

.attractions__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
}

.attractions__text {
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

// .attractions__photo {
//   height: 260px;
// }

.attractions__image {
  width: 100%;
}

.attractions__wrapper {
  background-color: #dcdcdc;
}

.attractions__list {
  margin-top: -23px;
  list-style: none;
}

.attractions__item {
  padding-top: 31px;
  padding-bottom: 32px;
  border-bottom: 1px solid #000000;
}

.attractions__item:nth-child(3) {
  border: none;
}

.attractions__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
}

.attractions__intro {
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .attractions__elementary {
    display: flex;
  }

  .attractions__first {
    width: 256px;
    order: 2;
  }

  .attractions__image {
    order: 1;
  }

  .attractions__list {
    min-height: 256px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .attractions__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__first {
    width: 400px;
  }
}
