.attractions__first {
  background-color: #81b3d2;
  color: #ffffff;
}

.attractions__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
}

.attractions__text {
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.attractions__wrapper {
  background-color: #dcdcdc;
}

.attractions__list {
  list-style: none;
}

.attractions__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
}

.attractions__intro {
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
