.basis-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.basis-form__text {
  line-height: 1.86;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.basis-form__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  color: #000000;
}

.basis-form__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
}

.basis-form__textarea {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  background-color: #c0c0c0;
  color: #000000;
}

.basis-form__button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}
