.basis-form {
  display: flex;
  flex-direction: column;
}

.basis-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.basis-form__text {
  line-height: 1.86;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.basis-form__input {
  background-color: #f2f2f2;
  border: 0;
}

.basis-form__input:hover {
  background-color: #e5e5e5;
}

.basis-form__input:active {
  border: solid 4px #e5e5e5;
  background-color: #ffffff;
}

.basis-form__input::placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  color: #000000;
  opacity: 1;
}

.basis-form__label {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  position: relative;
}

// первый блок

.basis-form__yourself {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000000;
  background-color: red;
}

.yourself__text {
  margin-left: 20px;
}

.yourself__input {
  width: 50%;
  // max-width: 192px;
  height: 58px;
  margin-top: 20px;
  margin-left: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
}

.yourself__input--first {
  width: 60%;
  // max-width: 230px;
}

.yourself__input::placeholder {
  margin-left: 10px;
}

// второй блок

.basis-form__contacts {
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000000;
  background-color: skyblue;
}

.contacts__text {
  margin-left: 42px;
}

.contacts__input {
  width: 100%;
  height: 58px;
  margin-top: 14px;
  padding-top: 15px;
  padding-left: 22px;
  display: block;
}

.contacts__phone,
.contacts__mail {
  width: 58px;
  height: 58px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
}

.contacts__phone::before {
  content: "";
  width: 18px;
  height: 18px;
  top: 20px;
  left: 20px;
  display: block;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts__mail::before {
  content: "";
  width: 16px;
  height: 12px;
  top: 20px;
  left: 20px;
  display: block;
  position: absolute;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

// третий блок

.basis-form__impression {
  padding-bottom: 32px;
  border-top: 1px solid #000000;
  background-color: teal;
}

.impression__title {
  margin-bottom: -10px;
}

.basis-form__radio {
  padding-top: 23px;
  padding-left: 20px;
  // padding-left: 25px;
  // position: relative;
}

.impression__label {
  width: 100%;
  margin-top: -40px;
  padding-left: 77px;
  display: block;
  position: relative;
}

.impression__label::after {
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -8px;
  left: 0;
  // opacity: 0.5;
  border: 14px solid #f2f2f2;
}

.impression__label:hover::after {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.impression__label:active::after {
  border-color: #808080;
  background-color: #808080;
  opacity: 0.3;
}


.impression__input {
  width: 46px;
  height: 46px;
  opacity: 0;
}

.impression__input:checked ~ label::after {
  background-color: #000000;
}

// четвертый блок

.basis-form__visited {
  width: 100%;
  // margin-top: 32px;
  padding-bottom: 30px;
  border-top: 1px solid #000000;
  background-color: wheat;
}

.visited__title {
  width: 100%;
  margin-bottom: -20px;
}

.basis-form__checkbox {
  // width: 50%;
  padding-top: 34px;
  padding-left: 20px;
}

.visited__label {
  width: 100%;
  margin-top: -40px;
  padding-left: 77px;
  display: block;
  position: relative;
}

.visited__label::after {
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  display: block;
  position: absolute;
  border-radius: 10%;
  top: -8px;
  left: 0;
  // opacity: 0.5;
  border: 14px solid #f2f2f2;
}

.visited__label:hover::after {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.visited__label:active::after {
  border-color: #808080;
  background-color: #808080;
  opacity: 0.3;
}

.visited__input {
  width: 46px;
  height: 46px;
  opacity: 0;
}

.visited__input:checked ~ label::after {
  background-image: url("../img/icon-tick.svg");
}

// пятый блок

.basis-form__emotions {
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #000000;
  background-color: yellowgreen;
}

.basis-form__textarea {
  width: 100%;
  height: 160px;
  padding-top: 22px;
  padding-right: 33px;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: 0;
}

.basis-form__textarea::placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  color: #000000;
  opacity: 1;
}

.basis-form__button {
  width: 280px;
  height: 58px;
  margin-top: 51px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .basis-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  // первый блок

  .basis-form__yourself {
    // margin-left: 50px;
    flex-grow: 1;
    position: relative;
    order: 2;
    border: none;
  }

  // .basis-form__yourself::before {
  //   content: "";
  //   height: 275px;
  //   display: block;
  //   position: absolute;
  //   top: 25px;
  //   left: -25px;
  //   border: 1px solid #000000;
  // }

  .yourself__title {
    margin-bottom: 20px;
  }

  // второй блок

  .basis-form__contacts {
    width: 100%;
    flex-grow: 1;
    order: 3;
    border: none;
  }

  .contacts__title {
    position: relative;
  }

  .contacts__title::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #000000;
  }

  .contacts__span {
    padding: 0 80px;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
  }

  .contacts__input {
    width: 100%;
  }

  // третий блок

  .basis-form__radio {
    // margin-top: 32px;
    padding-top: 42px;
  }

  .basis-form__impression {
    padding-bottom: 20px;
    flex-grow: 1;
    order: 1;
    border: none;
  }

  .impression__title {
    margin-bottom: 6px;
    position: relative;
  }


  // четвертый блок

  .basis-form__visited {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    // flex-grow: 1;
    order: 4;
    border: none;
  }

  .visited__title {
    position: relative;
  }

  .visited__title::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #000000;
  }

  .visited__span {
    padding: 0 80px;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
  }

  .basis-form__checkbox {
    width: 50%;
  }

  // пятый блок

  .basis-form__emotions {
    flex-grow: 1;
    order: 5;
    border: none;
  }

  .emotions__title {
    position: relative;
  }

  .emotions__title::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #000000;
  }

  .emotions__span {
    padding: 0 80px;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  // четвертый блок
  .basis-form__checkbox {
    width: 25%;
  }
}
