.form {
  margin: 0 auto;
  padding-top: 41px;
  padding-right: 21px;
  padding-bottom: 22px;
  padding-left: 23px;
  display: flex;
  flex-direction: column;

.form__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.form__text {
  line-height: 1.71;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
