.gallery {
  &__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
  }

  &__text {
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
}

.photo {
  &__slogan {
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
  }

  &__intro {
    text-align: left;
    color: #333333;
  }
}

.photo__span {
  font-weight: 700;
  line-height: 1.71;
  text-align: left;
}

.video {
  &__slogan {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
  }
  &__intro {
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
}
