.gallery {
  margin: 0 auto;
  padding-top: 44px;
  padding-right: 24px;
  padding-bottom: 33px;
  padding-left: 27px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
}
