.gallery {
  margin: 0 auto;
  padding-top: 44px;
  padding-right: 24px;
  padding-bottom: 33px;
  padding-left: 27px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo__block {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.photo {
  &__slogan {
    font-weight: 700;
    line-height: 1.71;
    text-transform: uppercase;
    text-align: left;
  }

  &__intro {
    text-align: left;
    color: #333333;
  }
}

.photo__span {
  font-weight: 700;
  line-height: 1.71;
  text-align: left;
}

.video {
  &__slogan {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
  }

  &__intro {
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo__block:nth-child(1) {
    min-width: 100%;
  }
  .photo__block:nth-child(2),
  .photo__block:nth-child(3),
  .photo__block:nth-child(4) {
    flex-grow: 1;
  }
}

.photo__block {
  background-color: #f2f2f2;
}

.photo__image {
  min-width: 100%;
}
