.main-nav {
  position: relative;
  width: 320px;
  min-height: 53px;
  margin: 0 auto;
  background-color: $blue;
}

.main-nav__cross {
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -2px;
    width: 28px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__link {
  color: $white;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__link {
    color: #000000;
  }
}
