.main-nav {
  background-color: $b-color;
}

.page-header__cross {
  background-color: $w-color;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.22;
  text-align: center;
  color: $w-color;
}
