.offers__first {
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}

.offers__slogan {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__text {
  text-transform: uppercase;
  line-height: 1.5;
}

.offers__list {
  list-style: none;
}

.offers__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__intro {
  text-transform: uppercase;
  line-height: 1.5;
  color: #333333;
}
