.offers__elementary {
  min-height: 440px;
  display: flex;
  flex-direction: column;
}

.offers__first {
  width: 100%;
  margin: 0 auto;
  padding-top: 61px;
  padding-right: 27px;
  padding-bottom: 45px;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
}


.offers__slogan {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__text {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.offers__image {
  flex-grow: 1;
  // width: 100%;
}

.offers__list {
  min-height: 256px;
  list-style: none;
}

.offers__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__intro {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .offers__elementary {
    min-height: 440px;
    flex-direction: row;
  }

  .offers__first {
    width: 256px;
  }

  .offers__image {
    flex-grow: 1;
    // width: 100%;
  }

  .offers__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .offers__first {
    width: 400px;
  }
}
