.offers__elementary {
  min-height: 440px;
  display: flex;
  flex-direction: column;
}

.offers__first {
  width: 100%;
  margin: 0 auto;
  padding-top: 61px;
  padding-right: 27px;
  padding-bottom: 45px;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
}


.offers__slogan {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__text {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.offers__photo {
  // width: 100%;
  height: 260px;
}

.offers__image {
  width: 100%;
}

.offers__wrapper {
  padding-top: 41px;
  // padding-right: 41px;
  // padding-bottom: 42px;
  // padding-left: 69px;
}

.offers__list {
  min-height: 256px;
  list-style: none;
}

.offers__item {
  display: flex;
  flex-direction: column;
}

.offers__housing {
  width: 37px;
  height: 36px;
  // margin-top: 26px;
}

.offers__souvenirs {
  width: 32px;
  height: 38px;
}

.offers__Food {
  width: 40px;
  height: 35px;
}

.offers__title {
  margin-top: -25px;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 700;
  // text-align: center;
  text-transform: uppercase;
  line-height: 1.44;
}

.offers__intro {
  margin-top: -15px;
  padding-left: 50px;
  // text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .offers__elementary {
    // min-height: 440px;
    flex-direction: row;
  }

  .offers__first {
    width: 256px;
  }

  .offers__photo {
    height: 256px;
  }

  .offers__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .offers__item {
    align-items: center;
  }

  .offers__item:nth-child(2) {
    order: 3;
  }

  .offers__item:nth-child(3) {
    order: 2;
  }

  .offers__housing {
    width: 75px;
    height: 72px;
  }

  .offers__souvenirs {
    width: 77px;
    height: 68px;
  }

  .offers__Food {
    margin-bottom: -5px;
    width: 64px;
    height: 75px;
  }

  .offers__title {
    margin-top: 32px;
    margin-right: 50px;
  }

  .offers__intro {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .offers__first {
    width: 400px;
  }
}
