.page-header {
  position: relative;
  // min-height: 440px;
  display: flex;
  flex-direction: column;
  // background-image: url("../img/bg-back-mobile@1x.jpg");
  // background-repeat: no-repeat;
  // background-position: center 60px;
  // background-size: cover;
}

.page-header__logo {
  width: 102px;
  height: 83px;
  // margin-top: -53px;
  margin-left: auto;
  margin-right: auto;
}

// .page-header--opened .page-header__toggle {
//   top: 20px;
//   right: 16px;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 9px;
//     left: -2px;
//     width: 28px;
//     height: 4px;
//     background-color: #ffffff;
//   }

//   &::before {
//     transform: rotate(45deg);
//   }

//   &::after {
//     transform: rotate(-45deg);
//   }

//   &:active::before,
//   &:active::after {
//     background-color: rgba(255, 255, 255, 0.3);
//   }
// }

@media (min-width: $tablet-width) {
  .page-header {
    // background-image: url("../img/bg-back-tablet@1x.jpg");
    // background-repeat: no-repeat;
    // background-position: center 60px;
  }

  .page-header__logo {
    // margin-top: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    // background-image: url("../img/bg-back-desktop@1x.jpg");
    // background-repeat: no-repeat;
    // background-position: center 60px;
  }

  .page-header__logo {
    width: 188px;
    height: 96px;
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
  }
}
