.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.page-footer__intro {
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
