.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.page-header__logo {
  width: 102px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/logo-sedona-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
    background-image: url("../img/logo-sedona-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 188px;
    height: 96px;
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
    background-image: url("../img/logo-sedona-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
