.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__block {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #333333;
}

.photo__block:nth-child(1) {
  border-top: 1px solid #333333;
}

.photo__image {
  padding-top: 22px;
}

.photo__text {
  display: flex;
  flex-direction: column;
}

.photo__slogan {
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
}

.photo__intro {
  text-align: left;
  color: #333333;
}

.photo__span {
  padding-left: 35px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.71;
  text-align: left;
}

.photo__span::before {
  content: "";
  width: 23px;
  height: 21px;
  position: absolute;
  left: 2px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo__text {
    height: 80px;
    margin-top: -4px;
    background-color: #f2f2f2;
    border: none;
  }

  .photo__slogan {
    margin-top: 10px;
    margin-left: 10px;
  }

  .photo__intro {
    margin-top: 5px;
    margin-left: 10px;
  }

  .photo__span {
    margin-top: -46px;
    margin-right: 10px;
    text-align: end;
  }

  // .photo__span::before {
  //   margin-left: 650px;
  // }

  .photo__block:nth-child(1) {
    min-width: 100%;
    border: none;
  }

  .photo__block:nth-child(2),
  .photo__block:nth-child(3),
  .photo__block:nth-child(4) {
    flex-grow: 1;
    border: none;
  }

  .photo__image {
    min-width: 100%;
    max-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .photo__block {
    margin-top: -45px;
  }

  .photo__text {
    margin-top: -85px;
    background-color: #000000;
    color: #ffffff;
    // opacity: 0.3;
  }

  .photo__span::before {
    background-image: url("../img/icon-like1.svg");
  }
}
