.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__block {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.photo__slogan {
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
}

.photo__intro {
  text-align: left;
  color: #333333;
}


.photo__span {
  font-weight: 700;
  line-height: 1.71;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo__block:nth-child(1) {
    min-width: 100%;
  }

  .photo__block:nth-child(2),
  .photo__block:nth-child(3),
  .photo__block:nth-child(4) {
    flex-grow: 1;
  }
}

.photo__image {
  min-width: 100%;
}
