.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__block {
  // padding-top: 22px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #333333;
}

.photo__block:nth-child(1) {
  border-top: 1px solid #333333;
}

.photo__image {
  padding-top: 22px;
}

.photo__slogan {
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
}

.photo__intro {
  text-align: left;
  color: #333333;
}

.photo__span {
  padding-left: 35px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.71;
  text-align: left;
}

.photo__span::before {
  content: "";
  width: 23px;
  height: 21px;
  position: absolute;
  left: 2px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo__block {
    background-color: #f2f2f2;
    border: none;
  }

  .photo__block:nth-child(1) {
    min-width: 100%;
    border: none;
  }

  .photo__block:nth-child(2),
  .photo__block:nth-child(3),
  .photo__block:nth-child(4) {
    flex-grow: 1;
  }

  .photo__image {
    min-width: 100%;
  }
}
