.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.promo__photo {
  width: 100%;
  margin: 0 auto;
  min-height: 389px;
}

.promo__icon {
  display: block;
  margin-top: -115%;
}

.promo__lower {
  width: 100%;
  margin-top: -27px;
}

.promo__svg {
  width: 100%;
  // margin: 0 auto;
}
