.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -20px;
}

.promo::after {
  content: "";
  height: 190px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.promo__photo {
  width: 100%;
  margin: 0 auto;
  min-height: 389px;
}

.promo__icon {
  display: block;
  margin-top: -115%;
}

@media (min-width: $tablet-width) {
  .promo::after {
    content: "";
    width: 768px;
    height: 57px;
    display: block;
    position: absolute;
    right: auto;
    left: auto;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .promo__icon {
    width: 460px;
    height: 350px;
    margin-top: -90%;
  }
}

@media (min-width: $desktop-width) {
  .promo::after {
    content: "";
    width: 1200px;
    height: 57px;
    display: block;
    position: absolute;
    top: 461px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
