.video {
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.video__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.video__intro {
  padding-bottom: 40px;
  line-height: 1.71;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.video__slider {
  width: 280px;
  height: 45px;
  opacity: 0.6;
  position: absolute;
  display: block;
  top: 338px;
  background-color: black;
}

.video__strip {
  width: 235px;
  height: 3px;
  // opacity: 0.2;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #ffffff;
}

.slider__button {
  width: 11px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: $white;
}

.video__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -3px;
  width: 280px;
  height: 66px;
  position: relative;
  background-color: #f2f2f2;
}

.video__menu::before {
  content: "";
  width: 16px;
  height: 20px;
  display: block;
  position: absolute;
  left: 22px;
  background-image: url("../img/icon-video-replay.svg");
  background-repeat: no-repeat;
}

.video__menu--subtitles::after {
  content: "";
  width: 32px;
  height: 20px;
  display: block;
  position: absolute;
  right: 70px;
  background-image: url("../img/icon-video-subtitles.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .video__image {
    width: 648px;
    height: 499px;
  }

  .video__slider {
    width: 648px;
    height: 93px;
    margin-top: 225px;
    padding-top: 25px;
  }

  .video__strip {
    width: 389px;
    height: 3px;
  }

  .video__menu {
    width: 650px;
    margin-top: -83px;
    background-color: inherit;
  }

  .video__menu::before {
    background-image: url("../img/icon-video-replay1.svg");
  }

  .video__menu--subtitles::after{
    background-image: url("../img/icon-video-subtitles1.svg");
  }
}

@media (min-width: $desktop-width) {
  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__slider {
    width: 800px;
  }

  .video__strip {
    width: 540px;
  }

  .video__menu {
    width: 790px;
  }
}
