.yourself {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000000;
}

.yourself__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.yourself__text {
  line-height: 1.86;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.yourself__input {
  margin-top: 20px;
  margin-left: 40px;
  width: 192px;
  height: 58px;
  border: 0;
}

.yourself__input:nth-child(2) {
  width: 230px;
}

.yourself__input::placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  background-color: #f2f2f2;
  color: #000000;
  opacity: 1;
}

.yourself__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
}
